.idea/
target/
classes/
git.properties
log42j.xml
log42j-test.xml
*.iml
*.ipr
dataset_xsd
preferences.xml
*.log
*.log.[0-9]
id_file
exporter.xml
.DS_Store
jboss.identity
*.releaseBackup
/.project
generated.ddl
application-dev.yml
application-dev.properties
*.lck

.java-version

# Gradle artifacts
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
kotlin-js-demo/.gradle/
kotlin-js-demo/build/